@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{ 
    margin: 0;
    padding: 0;
}
body{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: black;
    font-family: 'Inter', sans-serif;

}
.container{ 
    color: white;
    width: 95%;
    /* background-color: red; */
}
.input-fields{ 
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* background-color: blue; */
}
.input-fields input{ 
    font-size: 24px;
    width: 30%;
    height: 67px;
    border: 1px solid #fff;
    background-color: black;
    margin: 20px;
    color: #fff;
}
.submit-button{ 
    width: 100%;
    height: fit-content;
}
.submit-button-button{ 
    width: 42%;
    /* width: 712px; */
    height: 67px;
    background-color: white;
    color: black;
    border: none;
    margin: 20px;
    font-weight: 400;
    font-size: 24px;
    transition: all 0.7s ease;
}
.submit-button-button:hover{ 
    background-color: #eeeeee;
}
.submit-button-after-edit{ 
    background-color: black;
    color: white;
    border: 1px solid #fff;
}
.search-bar{ 
    width: 100%;
    height: fit-content;
}
.search-bar input{ 
    font-size: 24px;
    width: 95%;
    height: 67px;
    background-color: black;
    color: #fff;
    margin: 20px;
    border: 1px solid #fff;
}

.table-div{ 
    width: 95%;
    height: 500px;
    border: 2px solid #fff;

    margin: 20PX;
    overflow-y: scroll; 
    /* display: none; */
}
table{
    width: 100%; 
    height: fit-content;
    border-collapse: collapse;
    border-bottom: 0.5px solid #fff;
}
table thead{ 
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
table thead tr th{ 
    border-right: 2px solid #fff;
    padding: 25px; 
    text-align: left;
    background-color: black;
    font-size: 20px;
    /* border-collapse: collapse; */
}
tbody tr td{ 
    border-right: 0.5px solid #fff;
    /* border-bottom: 1px solid #fff; */
    padding: 25px; 
    text-align: left;
}
table thead tr th:last-child{ 
    border: none;
}
tbody tr td:last-child{ 
    border: none;
}
tbody tr td:nth-last-child(2){ 
    border: none;
}

::-webkit-scrollbar{ 
    display: none;
}
.query-result{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
}
